body {
  margin: 0;
}

.app {
  display: grid;
  grid-template: auto 1fr auto / auto;
  height: 100vh;
}

.header {
  grid-column: 1 / 4;
}

.sidebar {
  grid-column: 1 / 2;
}

.content {
  grid-column: 2 / 4;
}

.footer {
  grid-column: 1 / 4;
}