.content {
    padding: 8px;
    width: 100%;
}

.contentTitle {
    border: solid 1px;
    margin: 20px auto 0;
    max-width: 900px;
    padding: 20px;
}

.contentBody {
    margin: 20px auto 0;
    max-width: 900px;
    padding: 20px;
    padding: 20px;
}

.rootButton {
    display: flex;
    padding-top: 10px;
}

.grid {
    height: 200px;
    width: 900px;
}

.paper {
    height: 140px;
    width: 100px;
}

.control {
    padding: 20px;
}
