.alert {
    margin-top: 1%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-left: 24px;
    margin-right: 24px;
    max-width: 900px;
    min-width: 0;
    overflow: hidden;

    width: 100%;
}

.contentTitle {
    border: solid 2px;
    border-color: #ff9C33;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 20px auto 0;
    padding: 20px;
    width: 100%;
}

.contentBody {
    padding: 20px;
    width: 100%;
}

.favourCard {
    margin-right: 2%;
}

.grid {
    height: 200px;
    margin-top: 30px;
    max-width: 900px;
}

.listFavours {
    padding-bottom: 2%;
    padding-top: 1%;
}

.rootButton {
    display: flex;
    padding-top: 10px;
}
