.content {

    display: grid;
    grid-template-columns: minmax(200px, 25%) 1fr;
    padding: 16px;
    width: 100%;
}

.roomsWrapper {
    margin-right: 8px;
}

.room {
    margin-top: 8px;
    padding: 8px;
}

/* Test */
.createRoomButton {
    margin-top: 16px;
}

.messagesWrapper {
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1 1 auto;
}

.message {
    margin-top: 8px;
    padding: 8px;
    width: 25%;
}

.message.me {
    background-color: #7ef77e;
    margin-left: auto; 
}

.message.you {
    background-color: #89c1fb;
    margin-right: auto; 
}

.input {
    width: 100%;
}
