.content {
    padding: 8px;
    width: 100%;
}

.profile {
    border: solid 2px;
    border-color: #09f;
    border-radius: 15px;
    margin: 20px auto 0;
    max-width: 900px;
    padding: 20px;
}

.settingButtons {
    display: inline-block;
    float: right;
    margin-left: 30px;
}

.profileBody {
    margin-left: 30px;
    margin-top: 30px;
}

.infoBox {
    padding: 20px;
}

.inputField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text {
    flex: 1 0 135px;
    margin-right: 16px;
    max-width: 135px;
}

.textField {
    flex: 1 0 500px;
}

/* Example Styles for React Tags*/
.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
    width: 200px;
}

.ReactTags__tagInput .ReactTags__tagInputField,
.ReactTags__tagInput .ReactTags__tagInputField:focus {
    border: 1px solid #eee;
    font-size: 12px;
    height: 31px;
    margin: 0;
    width: 100%;
}

/* Styles for selected tags */
.ReactTags__selected .ReactTags__tag {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
    padding: 5px;
}

.ReactTags__selected .ReactTags__remove {
    color: #aaa;
    cursor: pointer;
    margin-left: 5px;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    position: absolute;
}

.ReactTags__suggestions {
    background: white;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    list-style-type: none;
    width: 200px;
}

.ReactTags__suggestions {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 5px 10px;
}

.ReactTags__suggestions {
    background: none;
    font-weight: 600;
    text-decoration: underline;
}

.ReactTags__suggestions .ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}
