body {
    margin: 0;
}

.app {
    display: grid;
    grid-template: auto 1fr auto / auto;
    height: 100vh;
    overflow: hidden;
}

.header {
    grid-column: 1 / 4;
}

.content {
    display: flex;
    grid-column: 1 / 4;
    justify-content: center;
    overflow: hidden;
}

.footer {
    grid-column: 1 / 4;
}
