body {
  margin: 0;
}

.app {
  display: grid;
  grid-template: auto 1fr auto / auto;
  height: 100vh;
}

.header {
  grid-column: 1 / 4;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 1 / 4;
}

.footer {
  grid-column: 1 / 4;
}