$headerColor: #3f51b5;

.menuButton {
    margin-right: 16px;
    padding: 0;
}

.title {
    flex-grow: 1;
    white-space: nowrap;
}

.search {
    background-color: lighten($headerColor, 30%);
    border-radius: 5px;
    color: black;
    height: 40px;
    margin-left: 80px;
    margin-right: 20%;
    position: relative;
    transition: background-color 0.5s ease;
    width: 100%;
}

.search:hover {
    background-color: lighten($headerColor, 50%);
}

.searchIcon {
    align-items: center;
    color: black;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-left: 10px;
    pointer-events: none;
    position: absolute;
}

.inputRoot {
    color: inherit;
    width: 100%;
}

.inputInput {
    padding: 10px;
    padding-left: 50px;
    width: 100%;
}
