.content {
    display: grid;
    grid-template-columns: minmax(200px, 20%) 1fr;
    padding: 16px;
    width: 100%;
}

.buttonsWrapper {
    margin-right: 30px;
}

.buttons {
    margin-top: 8px;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
}

.cardsWrapper {
    padding: 4px;
}

.dialogs {
    margin: auto;
}

.alert {
    margin-bottom: 1%;
}
