.content {
    display: grid;
    grid-template-columns: minmax(200px, 20%) 1fr;
    padding: 16px;
    width: 100%;
}

.buttonsWrapper {
    margin-right: 30px;
}

.buttons {
    display: block;
    margin-top: 8px;
    width: 100%;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
}
