.content {
    padding: 8px;
    width: 100%;
}

.report {
    border: solid 2px;
    border-color: #09f;
    border-radius: 15px;
    margin: 20px auto 0;
    max-width: 900px;
    padding: 20px;
}

.reportInfo {
    margin-left: 50px;
    margin-top: 30px;
}

.reportContent {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.inputField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categoryField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.text {
    flex: 1 0 135px;
    margin-right: 16px;
    max-width: 135px;
}

.textField {
    flex: 1 0 500px;
    max-width: 600px;
}

.othersField {
    flex: 1 0 500px;
    margin-left: 5px;
    max-width: 380px;
}
